<div class="page-header">
  <h1 class="ph-font">Astrus Recientes</h1>
</div>
<%= link_to "Crear post", new_status_path, class:  "btn btn-danger" %>
<br>
<% @statuses.each do |status|%>
      <div class="status">
        <strong><%= status.nombre %></strong>
        <p><%= status.contenido %></p>
        <div>
          <%= link_to time_ago_in_words(status.created_at) , status %>
          <span class="admin">
          | <%= link_to "Editar", edit_status_path(status) %> |
            <%= link_to "Borrar", status, method: :delete, data: {confirm: "¿Seguro que desea borrar el estado?"} %>
          </span>
        </div>
      </div>

<%end%>


<!-- La variable @statuses la definimos en el controlador statuses_controller, asi q la podemos utilizar en la vista. -->
